<div class="headline">管理者ログイン</h2>
<div class="background">
  <div class="signin_flex">
    <div class="sign_in">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :メールアドレス, class:"sign_title" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form_box" %>
        </div>

        <div class="field">
          <%= f.label :パスワード, class:"sign_title" %>
          <%= f.password_field :password, autocomplete: "current-password", class:"form_box" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :ログインを記憶する, class:"sign_title" %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン", class:"sign_btn" %>
        </div>
      <% end %>
    </div>
    <div class="admin_sign_in_image_box">
      <%= image_tag '/jesus-kiteque-wn-KYaHwcis-unsplash.jpg', class:"admin_sign_in_image", alt: "パソコンの写真", title: "パソコン" %>
    </div>
  </div>
</div>
