
<div class="show_recipe_container">
  <div class="headline"><%= @recipe.name %></div>
    <div class="container">
  	  <div class="row">
	  	  <div class="show_recipe_image col-lg-4">
	        <%= attachment_image_tag @recipe, :image, size:'250x170' %>
	      </div>
	      <div class="col-lg-5">
	      	<table class="table">
				<tr>
					<td class="recipe_title">材料</td>
					<td>
						<% @recipe.ingredients.each do |ingredient| %>
							<% if !ingredient.deleted_flag && ingredient.name.present? %>
							  <%= ingredient.name %></br>
							<% end %>
						<% end %>
				    </td>
				</tr>
				<tr>
					<td class="recipe_title">調理時間</td>
					<td><%= @recipe.time %>分</td>
				</tr>
				<tr>
					<td class="recipe_title">作り方</td>
					<td><%= @recipe.how_to_make %></td>
				</tr>
				<tr>
					<td class="recipe_title">難易度</td>
					<td><%= @recipe.difficulty_level_i18n %></td>
				</tr>
				<tr>
					<td class="recipe_title">投稿者</td>
					<td><%= @recipe.user.name %></td>
				</tr>
				<tr>
					<td class="recipe_title">投稿日時</td>
					<td><%= @recipe.created_at.to_s(:datetime_jp) %></td>
				</tr>
			</table>
	      </div>
	      <div class="col-lg-3"></div>
	　</div>
	</div>
  </div>
</div>


