
<div class="edit_recipe_container">
  <div class="headline">レシピの編集</div>
  <ul style="margin-left: 720px; color: red; text-align: left">
    <% @recipe.errors.full_messages.each do |message| %>
  	  <li><%= message %></li>
  	<% end %>
  </ul>

  <div class="container">
  	<%= form_for(@recipe, url: public_recipe_path(@recipe), method: :patch) do |f| %>
  	  <div class="row">
	  	  <div class="col-lg-4">
	        <%= f.attachment_field :image %>
	      </div>
	      <div class="col-lg-5">
	      	<table>
				<tr>
					<td class="table"><%= f.label :レシピ名 %></td>
					<td><%= f.text_field :name %></td>
				</tr>
				<%= f.fields_for :ingredients do |ingredient| %>
					<% if !ingredient.object.deleted_flag && ingredient.object.name.present? %>
						<tr>
							<% if ingredient.object.id == @recipe.ingredients.first.id %>
							  <td class="title"><%= ingredient.label :材料 %></td>
							<% else %>
							  <td></td>
							<% end %>
							<td>
							  <div value="<%= ingredient.object.id %>" class="box" data-formno="0">
							    <div name="input[0]" class="namae"><%= ingredient.text_field :name %></div>
								<p class="delbtn"><input type="button" value="ー" class="del pluralBtn"><input id="id" type="hidden" value="<%= ingredient.object.id %>"></p>
							  </div>
							</td>
						</tr>
						<%= ingredient.hidden_field :deleted_flag, value: 0, id: "deleted_flag_#{ingredient.object.id}" %>
					<% end %>
				<% end %>
				<tr>
				  <td></td>
				  <td>
				  	<p class="addbtn"><input type="button" value="＋" class="add pluralBtn"></p>
				    <input id="count" type="hidden" value="<%= @recipe.ingredients.count %>">
				  </td>
				</tr>
				<tr>
					<td class="table"><%= f.label :調理時間 %></td>
					<td><%= f.text_field :time %></td>
				</tr>
				<tr>
					<td class="table"><%= f.label :作り方 %></td>
					<td><%= f.text_area :how_to_make %></td>
				</tr>
				<tr>
					<td class="table"><%= f.label :難易度 %></td>
					<td><%= f.select :difficulty_level, options_for_select(Recipe.difficulty_levels_i18n.invert) %></td>
				</tr>
			</table>
	      </div>
	      <div class="col-lg-3"></div>
	  </div>
	  <div class="row">
		<div class="create_btn"><%= f.submit "更新する" %></div>
	  </div>
	<% end %>
  </div>
</div>
<script type="text/javascript">
$(document).on("click", ".add", function() {
	var count = $('#count').val()
	$('#count').val(Number($('#count').val()) + 1)
	var html = `<div class="box" data-formno="0">
					<div name="input[${count}]" class="namae"><input type="text" name="recipe[ingredients_attributes][${count}][name]" id="recipe_ingredients_attributes_0_name"></div>
					<input type="hidden" name="recipe[ingredients_attributes][0][deleted_flag]" value="0">
					<p class="delbtn"><input type="button" value="－" class="del pluralBtn"></p>
			    </div>`
    $(this).parent().before(html);
});
$(document).on("click", '.del', function() {
    var target = $(this).parent();
    var id = target.find('#id').val()
    $(`#deleted_flag_${id}`).val('1')
    target.parent(".box").remove();
});
</script>