
<div class="edit_recipe_container">
  <div class="headline">レシピの編集</div>

  <div class="container">
  	<%= form_for(@recipe, url: public_recipe_path(@recipe), method: :patch) do |f| %>
  	  <div class="row">
	  	  <div class="col-lg-4">
	        <%= f.attachment_field :image %>
	      </div>
	      <div class="col-lg-5">
	      	<table>
				<tr>
					<td class="table"><%= f.label :レシピ名 %></td>
					<td><%= f.text_field :name %></td>
				</tr>
				<%= f.fields_for :ingredients do |ingredient| %>
				<tr>
					<td class="table"><%= ingredient.label :材料 %></td>
					<td><%= ingredient.text_field :name %></td>
				</tr>
				<% end %>
				<tr>
					<td class="table"><%= f.label :調理時間 %></td>
					<td><%= f.text_field :time %></td>
				</tr>
				<tr>
					<td class="table"><%= f.label :作り方 %></td>
					<td><%= f.text_area :how_to_make %></td>
				</tr>
				<tr>
					<td class="table"><%= f.label :難易度 %></td>
					<td><%= f.select :difficulty_level, options_for_select(Recipe.difficulty_levels_i18n.invert) %></td>
				</tr>
			</table>
	      </div>
	      <div class="col-lg-3"></div>
	  </div>
	  <div class="row">
		<div class="create_btn"><%= f.submit "更新する" %></div>
	  </div>
	<% end %>
  </div>
</div>