
<div class="headline">投稿されたレシピ</div>
  <div class="dot">
	<div class="index_search_box">
	  <%= search_form_for @search, url: public_recipes_path do |f| %>
	    <%= f.select( :sorts, { '並び替え': 'id desc', '投稿の古い順': 'updated_at asc', '投稿の新しい順': 'updated_at desc', 'いいね!の多い順': 'likes_count desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'} ) %><br>
	    <p>レシピ名で検索：<%= f.search_field :name_cont, placeholder: '検索するテキストを入力...' %></p>
	    <%= f.submit ("検索") , class: 'search-btn'%>
	  <% end %>
	</div>
	  <div class="container">
	    <% @recipes.eager_load(:user).each do |recipe| %>
	      <div class="index_recipe_box">
	      	<div class="index_recipe_image">
	      	  <%= link_to public_recipe_path(recipe) do %>
		        <%= attachment_image_tag recipe, :image, size:'150x100' %>
		        <div class="index_recipe_name"><%= recipe.name %></div>
		      <% end %>
	        </div>
	        <div class="index_recipe_info">
	          <p>所要時間：<%= recipe.time %>分</p>
	          <p>難易度：<%= recipe.difficulty_level_i18n %></p>
	        </div>
	        <div class="index_recipe_iine">
	          <%= render 'public/likes/like', recipe: recipe %>
	        </div>
	        <div class="index_relation_user">
	          <p><<投稿者</p>
				  <%= attachment_image_tag recipe.user, :image, size:'50x50' %>
			      <div class="relation_user_name"><%= recipe.user.name %></div>
			</div>
	      </div>
	    <% end %>
	    <div class="page"><%= paginate @recipes %></div>
	  </div>
  </div>
