
<div class="new_recipe_container">
  <div class="headline">レシピの投稿</div>
<div class="dot">
  <div class="container">
  	<%= form_for(@recipe, url: public_recipes_path, method: :post) do |f| %>
  	  <div class="row">
	  	  <div class="col-lg-4">
	        <%= f.attachment_field :image %>
	      </div>
	      <div class="col-lg-5">
	      	<table>
				<tr>
					<td class="title"><%= f.label :レシピ名 %></td>
					<td><%= f.text_field :name %></td>
				</tr>
				<tr>
					<td class="title"><%= f.label :材料 %></td>
					<td><%= f.text_field :ingredient %></td>
				</tr>
				<tr>
					<td class="title"><%= f.label :調理時間 %>（分）</td>
					<td><%= f.text_field :time %></td>
				</tr>
				<tr>
					<td class="title"><%= f.label :作り方 %></td>
					<td><%= f.text_area :how_to_make %></td>
				</tr>
				<tr>
					<td class="title"><%= f.label :難易度 %></td>
					<td><%= f.select :difficulty_level, options_for_select(Recipe.difficulty_levels_i18n.invert) %></td>
				</tr>
			</table>
			<%= f.hidden_field :item_id, value: @item.id %>
	      </div>
	      <div class="col-lg-3"></div>
	  </div>
	  <div class="row">
		<div class="create_btn"><%= f.submit "作成する" %></div>
	  </div>
	<% end %>
  </div>
</div>
</div>

