
<div class="new_recipe_container">
  <div class="headline">レシピの投稿</div>
<div class="dot">
  <div class="container">
  	<%= form_for(@recipe, url: public_recipes_path, method: :post) do |f| %>
  	  <div class="row">
	  	  <div class="col-lg-4">
	        <%= f.attachment_field :image %>
	      </div>
	      <div class="col-lg-5">
	      	<table>
				<tr>
					<td class="title"><%= f.label :レシピ名 %></td>
					<td><%= f.text_field :name %></td>
				</tr>
				<%= f.fields_for :ingredients do |ingredient| %>
				<tr>
					<td class="title"><%= ingredient.label :材料 %></td>
					<td>
					  <div class="box" data-formno="0">
					    <div name="input[0]" class="namae"><%= ingredient.text_field :name %></div>
						<p class="delbtn"><input type="button" value="－" class="del pluralBtn" disabled></p>
					  </div>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<p class="addbtn"><input type="button" value="＋" class="add pluralBtn"></p>
						<input id="count" type="hidden" value="0">
					</td>
				</tr>
				<% end %>
				<tr>
					<td class="title"><%= f.label :調理時間 %>（分）</td>
					<td><%= f.text_field :time %></td>
				</tr>
				<tr>
					<td class="title"><%= f.label :作り方 %></td>
					<td><%= f.text_area :how_to_make %></td>
				</tr>
				<tr>
					<td class="title"><%= f.label :難易度 %></td>
					<td><%= f.select :difficulty_level, options_for_select(Recipe.difficulty_levels_i18n.invert) %></td>
				</tr>
			</table>
			<%= f.hidden_field :item_id, value: @item.id %>
	      </div>
	      <div class="col-lg-3"></div>
	  </div>
	  <div class="row">
		<div class="create_btn"><%= f.submit "作成する" %></div>
	  </div>
	<% end %>
  </div>
</div>
</div>
<script type="text/javascript">
$(document).on("click", ".add", function() {
	$('#count').val(Number($('#count').val()) + 1)
	var count = $('#count').val()
	var html = `<div class="box" data-formno="0">
					<div name="input[${count}]" class="namae"><input type="text" name="recipe[ingredients_attributes][${count}][name]" id="recipe_ingredients_attributes_0_name"></div>
					<p class="delbtn"><input type="button" value="－" class="del pluralBtn"></p>
			    </div>`
    $(this).parent().before(html);
    $('.del').prop('disabled', false)
});
$(document).on("click", ".del", function() {
    var target = $(this).parent();
      target.parent(".box").remove();
});
</script>
