<h1>Public::Recipes#ranking</h1>
<p>Find me in app/views/public/recipes/ranking.html.erb</p>


<h1>レシピランキング</h1>


<% @monthly_ranking.each.with_index(1) do |monthly_ranking, c| %>
  <%= "#{Recipe.period[:start_month].month}月~#{Recipe.period[:end_month].month}月" %>
    第<%= c %>位
    <%= attachment_image_tag monthly_ranking, :image, size:'150x100' %>
    <%= link_to monthly_ranking.name, public_recipe_path(monthly_ranking) %>
    <%= render 'public/likes/like', recipe: monthly_ranking %>
<% end %>

<%= paginate @monthly_ranking %>

