<h1>Public::Recipes#ranking</h1>
<p>Find me in app/views/public/recipes/ranking.html.erb</p>


<div class="period_recipe_rank">
  <div class="headline">今シーズンのアレンジレシピランキング</div>
  <div class="recipe_content">
  	<div class="period">
  	  <%= "#{Recipe.period[:start_month].month}月~#{Recipe.period[:end_month].month}月" %>
    </div>
	<% @monthly_ranking.each.with_index(1) do |monthly_ranking, c| %>
	  <div class="ranking_recipe_box">
	    <div class="rank">第<%= c %>位</div>
	    <%= attachment_image_tag monthly_ranking, :image, size:'150x100' %>
	    <%= link_to monthly_ranking.name, public_recipe_path(monthly_ranking) %>
	    <div class="ranking_iine"><%= render 'public/likes/like', recipe: monthly_ranking %></div>
	    <%= monthly_ranking.created_at %>
	  </div>
	<% end %>
  </div>
<%= paginate @monthly_ranking %>
</div>




