
<div class="headline">来シーズンの景品詳細</div>
<% if Gift.next_season_gift.present? %>
<div class="gift_container">
  <div class="item_container flex">
      <div class="item_image"><%= attachment_image_tag @gift, :image, size:'230x160' %></div>
      <div class="item_content">
        <div class="gift_name"><%= @gift.name %></div><br>
        <div class="gift_caption"><%= @gift.comment %></div><br>
        <div class="item_price">ユーザーページでの掲載の有無：<%= @gift.gift_status_i18n %></div>
      </div>
  </div>
</div>
    <div class="admins_gift_btn">
        <%= form_for(@gift, url: edit_admins_gift_path(@gift.id), method: :get) do |f| %>
          <%= f.hidden_field :id, value: @gift.id %>
          <i class="fas fa-edit"></i><%= f.submit "編集する" %>
        <% end %>
<% else %>
          ・
          <%= link_to new_admins_gift_path do %>
            <i class="fas fa-plus"></i>来シーズンの景品を作成しておく
          <% end %>
        <% end %>
    </div>