
<div class="headline">商品の編集</div>
<div class="edit_item_background">
  <div class="container">
  	<%= form_for(@item, url: admins_item_path, method: :patch) do |f| %>
  	  <div class="row">
	  	  <div class="col-lg-4">
	  	  	<%= attachment_image_tag @item, :image, size:'150x100' %>
	        <%= f.attachment_field :image %>
	      </div>
	      <div class="col-lg-5">
	      	<table>
				<tr class="edit_item_table">
					<td class="edit_table"><%= f.label :商品名 %></td>
					<td><%= f.text_field :name %></td>
				</tr>
				<tr class="edit_item_table">
					<td class="edit_table"><%= f.label :商品説明 %></td>
					<td><%= f.text_field :caption %></td>
				</tr>
				<tr class="edit_item_table">
					<td class="edit_table"><%= f.label :税抜価格 %></td>
					<td><%= f.text_field :price %>円</td>
				</tr>
			</table>
	      </div>
	      <div class="col-lg-3"></div>
	  </div>
	  <div class="row">
		<div class="create_btn"><%= f.submit "更新する" %></div>
	  </div>
	<% end %>
  </div>
</div>
</div>
