<h1>Admins::Items#edit</h1>
<p>Find me in app/views/admins/items/edit.html.erb</p>

<h1>商品の編集</h1>

<%= form_for(@item, url: admins_item_path, method: :patch) do |f| %>
  <%= attachment_image_tag @item, :image, size:'150x100' %>
  <%= f.attachment_field :image %>
	<%= f.label :商品名 %>
	  <%= f.text_field :name %>
	<%= f.label :商品説明 %>
	  <%= f.text_field :caption %>
	<%= f.label :税抜価格 %>
	  <%= f.text_field :price %>
	<%= f.submit "更新する" %>
<% end %>

