<h1>Admins::Items#index</h1>
<p>Find me in app/views/admins/items/index.html.erb</p>


<div class="headline">商品</div>
<div class="admins_item_container">
  <% @items.each do |item| %>
    <div class="admins_item_box">
      <%= attachment_image_tag item, :image, size:'150x100' %>
	  <%= link_to item.name, admins_item_path(item) %>
      <%= item.caption %>
	  <%= item.price %>
	</div>
  <% end %>
  <%= paginate @items %>
</div>