<h1>Admins::Recipes#index</h1>
<p>Find me in app/views/admins/recipes/index.html.erb</p>


<h1>投稿されたレシピ</h1>

<%= search_form_for @search, url: admins_recipes_path do |f| %>
    <%= f.select( :sorts, { '並び替え': 'id desc', '投稿の古い順': 'updated_at asc', '投稿の新しい順': 'updated_at desc', 'いいね!の多い順': 'likes_count desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'} ) %>
<% end %>

<% @recipes.each do |recipe| %>
    <%= attachment_image_tag recipe, :image, size:'150x100' %>
	<%= link_to recipe.name, admins_recipe_path(recipe) %>
	<%= recipe.ingredient %>
	<%= recipe.time %>分
	<%= recipe.how_to_make %>
    <%= recipe.difficulty_level_i18n %>
	<%= render 'public/likes/admin_like', recipe: recipe %>

<% end %>