<h1>Admins::Recipes#top</h1>
<p>Find me in app/views/admins/recipes/top.html.erb</p>

<h1>今月のランキング１位</h1>
<h3>ユーザー情報</h3>

<% @recipe_ranks.each.with_index(1) do |recipe_rank, rank| %>
  第<%= rank %>位
  <%= attachment_image_tag recipe_rank, :image, size:'150x100' %>
  <%= link_to recipe_rank.name, admins_recipe_path(recipe_rank) %>
	投稿者：<%= recipe_rank.user.name %>
	<%= attachment_image_tag recipe_rank.user, :image, size:'150x100' %>
	<%= recipe_rank.user.comment %>
	<%= recipe_rank.user.phone_number %>
	<%= recipe_rank.user.email %>
	<%= recipe_rank.user.postal_code %>
	<%= recipe_rank.user.address %>
    いいね数<%= recipe_rank.likes_count %>
<% end %>