<h1>Admins::Recipes#top</h1>
<p>Find me in app/views/admins/recipes/top.html.erb</p>

<div class="headline">今シーズンの最人気レシピ</div>

<div class="container">
<div class="index_recipe_box">
	<div class="recipe_info col-lg-2"></div>
	<div class="recipe_info col-lg-4">
	  <%= attachment_image_tag @recipe_ranks, :image, size:'150x100' %>
	  <%= link_to @recipe_ranks.name, admins_recipe_path(@recipe_ranks) %>
	  <%= @recipe_ranks.time %>分
	  難易度：<%= @recipe_ranks.difficulty_level_i18n %>
	</div>
	<div class="relation_user col-lg-4">
	  <p>投稿者</p>
	  <%= attachment_image_tag @recipe_ranks.user, :image, size:'100x60' %>
	  <%= link_to @recipe_ranks.user.name, admins_user_path(@recipe_ranks.user) %>
	</div>
	<div class="index_recipe_iine">
	  <%= render 'public/likes/admin_like', recipe: @recipe_ranks %>
	</div>
	<div class="recipe_info col-lg-2"></div>
</div>
</div>
