

<div class="show_item_container">
  <div class="item_container flex">
    <div class="item_image"><%= attachment_image_tag @item, :image, size:'230x160' %></div>
    <div class="item_content">
      <div class="item_name"><%= item.name %></div><br>
      <div class="item_caption"><%= item.caption %></div><br>
      <div class="item_price"><span class="item_price_font">税抜き</span>￥<%= item.price.to_s(:delimited) %></div>
    </div>
  </div>
</div>
<div class="recipe_post_btn">
<% if public_user_signed_in? %>
  <%= form_for(@recipe, url: new_public_recipe_path, method: :get) do |f| %>
      <%= f.hidden_field :item_id, value: @item.id %>
      <%= f.submit "この商品を使ったレシピを投稿する" %>
  <% end %>
</div>
  <div class="headline">この商品のアレンジレシピランキング</div>
    <div class="dot">
    <div class="container">
      <% recipe_ranks.each.with_index(1) do |recipe_rank, rank| %>
        <div class="show_item_recipe_box">
          <% case rank %>
          <% when 1 %>
            <div class="rank_1">第<%= rank %>位</div>
          <% when 2 %>
            <div class="rank_2">第<%= rank %>位</div>
          <% when 3 %>
            <div class="rank_3">第<%= rank %>位</div>
          <% else %>
            <div class="rank">第<%= rank %>位</div>
          <% end %>
          <div class="show_item_recipe_flex">
            <div class="show_item_recipe">
              <% if admins_admin_signed_in? %>
                <%= link_to admins_recipe_path(recipe_rank) do %>
                  <div><%= attachment_image_tag recipe_rank, :image, size:'200x150' %></div>
                  <div class="show_item_name"><%= recipe_rank.name %></div>
                <% end %>
              <% else %>
                <%= link_to public_recipe_path(recipe_rank) do %>
                  <div><%= attachment_image_tag recipe_rank, :image, size:'200x150' %></div>
                  <div class="show_item_name"><%= recipe_rank.name %></div>
                <% end %>
              <% end %>
            </div>
            <div class="show_item_recipe_iine">
              <% if admins_admin_signed_in? %>
                <%= render 'public/likes/admin_like', recipe: recipe_rank %>
              <% else %>
                <%= render 'public/likes/like', recipe: recipe_rank %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% not_likes_recipes.eager_load(:item).each do |recipe_rank| %>
        <div class="show_item_recipe_box">
          <div class="rank">第<%= (@recipe_ranks.count + 1).to_s %>位</div>
          <div class="show_item_recipe_flex">
            <div class="show_item_recipe">
              <%= link_to public_recipe_path(recipe_rank) do %>
                <div><%= attachment_image_tag recipe_rank, :image, size:'200x160' %></div>
                <div class="show_item_name"><%= recipe_rank.name %></div>
              <% end %>
            </div>
            <div class="show_item_recipe_iine">
              <% if public_user_signed_in? %>
                <%= render 'public/likes/like', recipe: recipe_rank %>
              <% else %>
                <%= render 'public/likes/admin_like', recipe: recipe_rank %>
              <% end %>
            </div>
          </div>
          </div>
      <% end %>
      <div class="page"><%= paginate not_likes_recipes %></div>
    </div>
  </div>
<% elsif admins_admin_signed_in? %>
<% else %>
  <div class="not_member_box">
    <div class="not_member_message">
      <p>会員登録すると<p>
      <p>この商品の人気レシピランキングが見られるようになります！<p>
    </div>
  </div>
<% end %>


