
<div class="main_item_container">
	<div class="headline">商品ラインナップ</div>
	<div class="item_container">
		<div class="flex">
		    <% @items.each do |item| %>
				<div class="index_item_box">
					<%= link_to public_item_path(item) do %>
                      <%= attachment_image_tag item, :image, size:'230x160' %>
                    <% end %>
					<div class="item_name"><%= item.name %></div><br>
				    <div class="item_caption"><%= item.caption %></div><br>
					<div class="item_price"><span class="item_price_font">税抜き</span>￥<%= item.price.to_s(:delimited) %></div>
					<% if public_user_signed_in? %>
					  <%= form_for(item, url: public_item_path(item), method: :get) do |f| %>
					    <%= f.hidden_field :item_id, value: item.id %>
					  <div class="submit_btn"><%= f.submit "この商品を見る" %></div>
				      <% end %>
				    <% end %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="page"><%= paginate @items %></div>
</div>